/* ==UserStyle==
@name segoeui_try
@namespace yipkeith
@version 1.0.0
==/UserStyle== */

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 700;
}


@-moz-document domain('amazon.ca') {
  .a-ember body, .a-ember .a-text-quote { font-family: 'SegoeUI' }
}

@-moz-document domain('ebay.ca') {
  body { font-family: 'SegoeUI'}
}

@-moz-document domain('news.google.com') {
  body,.UwIKyb,.XlKvRb, .WwrzSb, .JtKRv,.n6ef1 .Da1Shd,.KfaKvb .aqvwYd,.IBr9hb .gPFEn,
  .UOVeFe,.jKHa4e,.j5Zode,.ddlw3d,.WCkv8e,.iNL53,.Rj2Mlf,.EctEBd,.BPNpve,.qc8Vqe,
  .taS2Yb,.taS2Yb .erXZqd, .GZSHf,.gb_se,.gb_rd,.a7P8l,.Yonv .ZAGvjd,.JbTTm,
  .VfPpkd-z59Tgd, .ne2Ple-suEOdc-OWXEXe-pijamc .ne2Ple-z59Tgd,.OJMBqe,
  .lF2Cpe .MQsxIb .ekueJc,.oOr8M.Ir3o3e,.lF2Cpe .MQsxIb .SVJrMe,.Un8Mu,
  .G2Lw2-kSE8rc-FoKg4d-sLO9V-YoZ4jf .G2Lw2-vQzf8d, .pjC9Q,.n31NHb,
  .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS,.gb_ud,.EHk7bb, .Qq1e4d, .Rq5Gcb,
  .hgyOfc,.Q5P2pb,.To2ZZb.hpDt6e .VgnMrb,.jf9sJb .VM5tKe .GFO5Jd,
  .rtaOSd-AznF2e .rtaOSd-jY41G-V67aGc
  { font-family: 'SegoeUI' }
}